<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <log4net>
    <appender name="rollinglogfileappender" type="log4net.appender.rollingfileappender,log4net">
      <file value="D:/log/SSC.WebSocket/" />
      <appendtofile value="true" />
      <rollingstyle value="date" />
      <datepattern value="yyyy-mm-dd&quot;.log&quot;" />
      <maxsizetorollbackups value="10" />
      <maximumfilesize value="3mb" />
      <staticlogfilename value="false" />
      <layout type="log4net.layout.patternlayout,log4net">
        <param name="conversionpattern" value="%d [%t] %-5p %c [%l] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="all" />
      <appender-ref ref="rollinglogfileappender" />
    </root>
  </log4net>
  <system.web>
    <compilation targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: D9ECE138-023E-4092-BD72-B0E4EE3119E6-->